* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------Common Styling------------ */
.clear {
    clear: both;
}

.borderBottomClass {
    border-bottom: 2px solid #000;
}

/* -----------------Navbar Styling------------------ */
#spatifyHeader {
    display: inline-block;
    font-size: 80px;
}

.player{
    text-align: right;
}

h1, h2{
    font-family: 'Maven Pro', sans-serif;
}

.fas, .fa-play-circle{
    padding-top: 1%;
    padding-right: 2%;
    font-size: 175px;
}
/* -------------------------------------------------------- */
#musicDiv {
    padding: 10px;
}
#lyricDiv {
    width: 100%;
}
#rightDiv{
    border:2px solid #000;
    display: none;
}

#artistImage {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 0%;
    margin-right: 20px;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;
    /* display: none; */
}

#artistImage:hover {
    background: #000;
    cursor: pointer;
}

/* ---------------Dynamic Generated Elements Stylings --------- */
.artistHeadling {
    padding-top: 5px;
    text-transform: capitalize;
    display: inline-block;
}

.albumNameClass {
    font-size: 1.5em;
    margin-top: 10px;
}

#trackUrl,#eventCheckDate {
    color: rgb(35, 20, 247);
    cursor: pointer;
}

#iframeTrack {
    width: 100%;
    height: 800px;
    /* height: auto; */
    margin-top: 10px;
}
#trackDiv p {
    margin-bottom: 0;
}
#eventIFrame{
    width: 100%;
    height: 800px;
}





/* alexs after here */

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.navbar-brand {
    display: inline;

}



/* little spot logo top left */
#spot {
    width: 5%;
    height: 5%;
    min-width: 200px;
    min-height: 200px;
    transform: rotate(180deg);
}

/* background white, borders, spacing for the content sections */
/* .sect {
    background: white;
    border: solid black 3px;
    padding: 5px;

} */

/* spacing for the top two columns from the navbar */
/* .vid,
.lyrics {
    margin-top: 10px;
} */

#nowplaying {
    margin-top: 10px;
    background: white;
    border: solid black 3px;
    padding: 10px;

}